<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Осогово Кон - Потврда за Резервација</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h2>Резервацијата е Потврдена!</h2>
    <p>Вашата соба <strong th:text="${roomNumber}"></strong> беше успешно резервирана.</p>
    <a href="/booking" class="btn btn-primary">Нова Резервација</a>
    <a href="/" class="btn btn-primary">Дома</a>
</div>

</body>
</html>
